/* main page styles */

.ch-txt-container {
  @include flex-col-align-center;
  padding: 0 $xxs-spacing;
}

.ch-over-the-moon,
.ch-store {
  @include flex-col-align-center;
  padding: 0 $xxs-spacing;

  .ch-title {
    gap: $xxxs-spacing;
    margin: calc($xxl-spacing + $sm-spacing) 0;

    h1 {
      color: $secondary-color;
    }

    p {
      margin-bottom: $xxxs-spacing;
    }
  }

  @media screen and (max-width: $mobile-screen) {
    .ch-title {
      margin: calc($lg-spacing + $xs-spacing) 0;
    }

    & {
      margin-bottom: calc($lg-spacing + $md-spacing);
    }

    #over-the-moon-1-chanel {
      background-image: url("./public/giedre-mobile.jpg");
    }

    #over-the-moon-2-chanel {
      background-image: url("./public/imari-mobile.jpg");
    }
  }
}

.ch-over-the-moon {
  margin-bottom: calc($xxl-spacing + $lg-spacing);

  #over-the-moon-1-chanel {
    background-image: url("./public/giedre.jpg");
  }
}

.ch-store {
  margin-bottom: calc($xxl-spacing + $sm-spacing);

  #over-the-moon-2-chanel {
    background-image: url("./public/imari.jpg");
  }
}

.ch-slider-section {
  @include flex-col-align-center;
  width: 100%;
  gap: $lg-spacing;
  margin-bottom: calc($xxl-spacing + $lg-spacing);
  padding: 0 $xxs-spacing;

  @media screen and (max-width: $mobile-screen) {
    gap: $md-spacing;
    margin-bottom: calc($lg-spacing + $md-spacing);
  }
}

.ch-footer-txt {
  padding: 0 116px;

  @media screen and (max-width: $mobile-screen) {
    padding: 0 $xxs-spacing;
  }
}
