/* All variables declaretions */

/* screen */
$mobile-screen: 425px;

/* Colors */
$primary-color: #000000;
$secondary-color: #f19b9e;
$white: #fff;
$light-white: #f9f9f9;

/* Font Family */
$corpo-regular-font: "ABChanel Corpo Regular", sans-serif;
$helvetica-font: "helvetica", sans-serif;

/* Font size */
$xl-heading: 40px;
$md-heading: 25px;
$lg-heading: 30px;
$sm-heading: 20px;
$xs: 14px;
$xxs: 12px;
$xxxs: 11px;

/* Spacings */
$xxl-spacing: 72px;
$xl-spacing: 63px;
$lg-spacing: 54px;
$md-spacing: 36px;
$sm-spacing: 27px;
$xs-spacing: 23px;
$xxs-spacing: 20px;
$xxxs-spacing: 9px;
