// Buttons and links styles

.ch-CTA-button,
.ch-CTA-link {
  transition: all ease-in-out 0.3s;
  color: $white;
}

.ch-CTA-button {
  width: auto;
  border: solid 1px $white;
  padding: 16px 21px;

  &:hover {
    background-color: $white;
    color: $primary-color;
  }
}

.ch-CTA-link {
  height: auto;
  width: auto;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 2px solid $primary-color;

  &:hover {
    border-bottom-color: $white;
  }
}
